* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

@font-face {
    font-family: "fuente";
    src: url("fuente/static/Caveat-Medium.ttf");
}

.head {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.fondo1 {
    background-image: url(imagenes/backgroundNNL.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    background-attachment: static;
}

.nombre {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 110px;
    height: 110px;
    margin-left: 28%;
}

.nombre2 {float:right;
    margin-right: 48%;
    color: white;
    margin-top: 67px;
}
.container{padding: 2px;
    background-size: 100%;;
    background-color:black;}

.menu{margin-top: 30px;
margin-bottom: 10px;}
.enlaces {

float: right;
}

.buscador {
    border-radius: 20px;
}

.botonbusqueda {
    border-radius: 20px;
    background-color: black;
    color: white;
}